/***************** Google Fonts *****************/
/* font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');


/***************** CSS Variables *****************/
/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root {
  /* declare a variable with `--` syntax */

  /* Color Scheme */
  --color-primary: turquoise;
  --color-secondary: paleturquoise;

  /* Typography */
  --font-primary: 'Caveat', cursive;
}


/***************** Global HTML Elements *****************/
* {
  font-family: var(--font-primary);
}

body {
  margin: 0;
  padding-top: 142px;
}

h1 {
  font-size: 3.8em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.35em;
}

p,
h5,
ul li,
ol li {
  font-size: 1.2em;
  line-height: 1.4;
}

ul,
ol {
  margin-top: -20px;
}

p>a:link,
li>a:link,
p>a:visited,
li>a:visited,
p>a:active,
li>a:active {
  color: var(--color-primary);
}

p>a:focus,
li>a:focus,
p>a:hover,
li>a:hover {
  color: blue;
  text-decoration: none;
}

/* Big Desktop Screen */
@media only screen and (min-width: 1200px) {
  main {
    font-size: 130%;
  }
}

/* Tablet Screen ONLY */
@media only screen and (min-width: 501px) and (max-width: 700px) {
  main {
    font-size: 120%;
  }
}

/* Mobile Screen */
@media only screen and (max-width: 500px) {
  body {
    padding-top: 218px;
  }
}

/* Small Mobile Screen */
@media only screen and (max-width: 400px) {
  main {
    font-size: 90%;
  }
}


/***************** Helper Classes *****************/
.display-mobile {
  display: none;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 14px;
}

.text-italic {
  font-style: italic;
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

/* Tablet Screen */
@media screen and (max-width: 700px) {
  .flex-column-tablet {
    align-items: center;
    flex-direction: column;
  }
}

/* Mobile Screen */
@media only screen and (max-width: 500px) {
  .display-desktop {
    display: none;
  }

  .display-mobile {
    display: block;
  }

  .flex-column-mobile {
    align-items: center;
    flex-direction: column;
  }
}


/***************** Header Styles *****************/
header {
  background-color: var(--color-secondary);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.logo {
  width: 160px;
}

.logo__img {
  width: 100%
}

.page-divider {
  border-top: 2px dashed #000;
  border-bottom: none;
  margin: 30px 15px;
  /* smallest size is full-width minus left & right margin */
  min-width: calc(100% - 30px);
}

.top-nav>.page-divider {
  margin: 20px 15px;
}

.top-nav__links {
  margin-right: 20px;
}

.top-nav__links a {
  color: rgb(0, 0, 0);
  font-size: 34px;
  text-decoration: none;
}

.top-nav__links a:hover {
  text-decoration: underline;
}

.top-nav__links a:first-child {
  margin-right: 20px;
}


/***************** Page Styles *****************/
.page-content {
  margin: 30px 10px;
}

.crumbs {
  margin: 0 auto;
  max-width: 1000px;
}

.crumbs ol {
  list-style-type: none;
  padding-left: 0;
}

.crumb {
  display: inline-block;
}

.crumb a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-weight: bold;
  padding: 0 3px 0 9px;
}

.primary-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: .15em;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color .3s ease-out, color .3s ease-in;
}

.primary-button:hover {
  background-color: transparent;
  color: var(--color-primary);
}


/***************** Footer Styles *****************/
footer {
  background-color: var(--color-secondary);
  padding: 20px 10px;
}

/* Big Desktop Screen */
@media only screen and (min-width: 1200px) {
  .top-nav {
    max-width: 1180px;
    margin: 0 auto;
  }
}

/* Mobile Screen */
@media only screen and (max-width: 500px) {
  .top-nav__links {
    margin-top: -10px;
  }
}


/***************** Page Title *****************/
.page-title h1 {
  margin-bottom: 0;
}

.page-title h2 {
  font-size: 1.8em;
  margin: 0 0 40px;
}


/***************** Cat Tiles *****************/

.cat-tiles {
  margin: 0 auto;
  max-width: 1080px;
}

.cat-tile {
  border-radius: 3px;
  border: 2px solid black;
  flex: 1 0 280px;
  height: 340px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  max-width: 340px;
  transition: all .3s ease-in;
}

.cat-tile:hover {
  border-color: var(--color-primary);
  transform: scale(1.06);
}

.cat-tile>img {
  max-width: 100%;
}

.cat-tile>.overlay {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.cat-tile:hover>.overlay {
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
}

.cat-tile>.overlay>h3 {
  color: #000;
  font-size: 2.3em;
}

/* Tablet Screen */
@media only screen and (max-width: 500px) {
  .cat-tile {
    height: 400px;
    max-width: 100%;
  }
}


/***************** Cat Bios *****************/
.cat-bio {
  margin: 20px auto 40px;
  max-width: 800px;
}

.cat-bio__img {
  width: 50%;
}

.cat-bio__img img {
  width: 100%;
}

.cat-bio__profile {
  width: calc(50% - 30px);
  margin-left: 30px;
}

/* Tablet Screen */
@media only screen and (max-width: 700px) {
  .cat-bio {
    max-width: 600px;
  }

  .cat-bio__img {
    order: 2;
    width: 100%;
  }

  .cat-bio__profile {
    width: calc(100% - 30px);
  }

  .cat-bio__profile h2 {
    margin-top: 0;
  }
}


/***************** Adopt A Cat *****************/
.cat-adopt {
  margin: 50px auto;
}

.cat-adopt>h2 {
  font-size: 3.8em;
  line-height: 1.2;
}


/***************** Contact Form *****************/
form#contact-form {
  max-width: 600px;
  margin: 20px auto 50px;
}

.form-row {
  margin-bottom: 10px;
}

.form-row:last-child {
  margin-top: 20px;
}

.form-label {
  display: block;
  font-size: 1.4em;
  margin: 0 0 3px 2px;
}

.form-input__select,
.form-input__text {
  font-size: 1.2em;
  height: 40px;
  width: 100%;
  transition: border-color .2s ease-in-out;
}

.form-input__select {
  padding: 5;
}

.form-input__text {
  padding: 8;
}

textarea.form-input__text {
  height: auto;
}

.form-input__select:focus-visible,
.form-input__text:focus-visible,
.form-input__checkbox:focus-visible {
  outline-color: var(--color-primary);
}

.form-input__select::placeholder,
.form-input__text::placeholder {
  font-style: italic;
}

.form-input__checkbox {
  height: 15px;
  width: 15px;
}

.form-input__checkbox+.form-label {
  display: inline;
}

.form-input__checkbox:checked+.form-label {
  color: green;
}